<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="acmg.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>ACMG Sequence Variant Interpretation Tool</h1>
    <p class="desc-text">Automatically assign the pathogenicity or benign impact based on the selected evidence categories</p>
    <br><br>
    <table class="table">
        <tbody>
        <tr class="danger">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Predicted null variant in a gene where LOF is a known mechanism of disease PVS1
            </td>
        </tr>
        <tr class="danger">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Prevalence in affecteds statistically increased over controls PS4
            </td>
        </tr>
        <tr class="danger">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Same amino acid change as an established pathogenic variant PS1
            </td>
        </tr>
        <tr class="danger">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Well-established functional studies show a deleterious effect PS3
            </td>
        </tr>
        <tr class="danger">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">De novo (paternity and maternity confirmed) PS2
            </
            >
        </tr>
        <tr class="warning">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Absent in population databases PM2
            </td>
        </tr>
        <tr class="warning">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Novel missense change at an amino acid residue where a different pathogenic missense change
                has been
                seen before PM5
            </td>
        </tr>
        <tr class="warning">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt"> Protein length changing variant PM4
            </td>
        </tr>
        <tr class="warning">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Mutational hot spot
                or well-studied
                functional domain
                without benign
                variation PM
            </td>
        </tr>
        <tr class="warning">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">De novo (without
                paternity & maternity
                confirmed) PM6
            </td>
        </tr>
        <tr class="warning">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Mutational hot spot
                or well-studied
                functional domain
                without benign
                variation PM
            </td>
        </tr>
        <tr class="warning">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">For recessive
                disorders, detected
                in trans with a
                pathogenic variant
                PM
            </td>
        </tr>
        <tr class="success">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Multiple lines of
                computational
                evidence support a
                deleterious effect
                on the gene /gene
                product PP3
            </td>
        </tr>
        <tr class="success">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1" value="pp2">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Missense in gene with
                low rate of benign
                missense variants and
                path. missenses
                common PP2
            </td>
        </tr>
        <tr class="success">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1" value="pp2">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Cosegregation with
                disease in multiple
                affected family
                members PP1
            </td>
        </tr>
        <tr class="success">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1" value="pp5">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Reputable source
                = pathogenic PP5
            </td>
        </tr>
        <tr class="success">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1" value="pp4">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Patient’s phenotype or
                FH highly specific for
                gene PP4
            </td>
        </tr>
        <tr class="info">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1" value="bp4">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Multiple lines of
                computational evidence
                suggest no impact on gene
                /gene product BP4
            </td>
        </tr>
        <tr class="info">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1" value="bp1">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Missense in gene where
                only truncating cause
                disease BP1
            </td>
        </tr>
        <tr class="info">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1" value="bp7">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Silent variant with non
                predicted splice impact BP7
            </td>
        </tr>
        <tr class="info">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1" value="bp3">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">In-frame indels in repeat
                w/out known function BP3
            </td>
        </tr>
        <tr class="info">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1" value="bp2">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Observed in trans with
                a dominant variant BP2
            </td>
        </tr>
        <tr class="info">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1" value="bp2">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Observed in cis with a
                pathogenic variant BP2
            </td>
        </tr>
        <tr class="info">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1" value="bp6">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Reputable source w/out
                shared data = benign BP6
            </td>
        </tr>
        <tr class="info">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1" value="bp5">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Found in case with
                an alternate cause
                BP5
            </td>
        </tr>
        <tr class="active">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1" value="bs2">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">MAF is too high for
                disorder BA1/BS1 OR
                observation in controls
                inconsistent with
                disease penetrance BS2
            </td>
        </tr>
        <tr class="active">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1" value="bs3">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Well-established
                functional studies show
                no deleterious effect
                BS3
            </td>
        </tr>
        <tr class="active">
            <td>
                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1" value="bs4">
                    <label for="checkbox1"></label>
                </fieldset>
            </td>
            <td class="txt">Nonsegregation
                with disease BS4
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

