h1 {
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    color: #ff0002;

}

.desc-text{
    font-size: 20px;
}
.txt {
    font-size: medium;
    font-family: Ubuntu, monospace;
    height: 1px;
    width: auto;
    padding: 0px;
    margin: 0px;

}

th, td {
    border-bottom: 1px solid #34495E;
}

table {
    border: 1px solid #34495E;
}

.table-header {
    font-size: xx-large;
    text-align: center;

}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: #34495E;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border-width: 0;
    transition: all .2s linear;
}

input[type="checkbox"]:checked {
    content: '✔';
    background-color: #2ECC71;
}

input[type="checkbox"]:focus {
    outline: 0 none;
    box-shadow: none;
}